<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Escolha seu artigo para ler abaixo!</h1>
      <p class="lead">Escolha apartir do combobox qual artigo deseja ler!</p>

      <div class='form-group'>
        <select class="form-control" (change)="escolherArtigo($event)" id="exampleFormControlSelect1" [(ngModel)]='artigo' >
          <option value="" disabled selected>Escolha qual artigo deseja ler!</option>
          <option *ngFor='let artigo of artigos'>{{ artigo }}</option>
        </select>

      </div>


        <!-- <p>{{ artigo }}</p> -->

    </div>

    <div class='container'>
        <!-- <app-artigos></app-artigos> -->

        <div *ngIf="artigo==''" class="card">
          <div class="card-body">
            <h2 class="card-title">Esolha qual artigo voce deseja ler!</h2>
            <p class='card-text'>Clique no combobox acima para escolher um artigo para ler!</p>
          </div>
        </div>

        <div *ngIf="artigo!=null" class="card">
          <div class="card-body">
            <h2 class="card-title">{{ tituloArtigo }}</h2>
            <p class='card-text'>{{ textoArtigo }}</p>
          </div>
      </div>

    </div>
  </div>
