#sobre-menu
{
    color:rgb(255, 255, 255);
}

body
{
  background-color:whitesmoke;
}

/* footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    display: flex;
    width: 100%;
    display: block;
  } */

